.navbar {
    background-color: #444f7c;
    font-weight: bold;
}
.navbar-logo {
    height: 60px;
    margin-right: 25px;
}
/* .navbar-dark .navbar-nav .nav-link {
    color: #232F5F;
} */
.main {
    background-color: #F7F6F3;
    min-height: 85vh;
    padding: 30px 5%;
}
.pagetitle {
    color: #232F5F;
    margin-bottom: 20px;
}
.footer {
    background-color: #444f7c;
    text-align: center;
}
.copyright {
    color: #fff;
}

#navbarDropdown:hover{
    color: #F7F6F3;
}
#lognav:hover{
    color: #F7F6F3;
}
#howto_link{
    margin-right: 20px;
}